@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: blueviolet;
}

.startbtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.startbtn button {
    cursor: pointer;
}

.Welcome {
    width: 100%;
    text-align: center;
    color: whitesmoke;
    font-size: 30px;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.restart, .score {
    width: 10%;
    align-items: center;
    margin-left: 45%;
    cursor: pointer;
}