.navbar {
    width: 100%;
    display: flex;
    margin-bottom: 4rem;
}

.navbar h1{
    text-align: left;
}

.navbar__timer h1 {
    margin-left: 1550px;
    
}

.Header {
    width: 100%;
    text-align: center;
}

.container {
    width: 100%;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
    line-height: 2rem;
}

.Question {
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: center;
}
