@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: blueviolet;
    display: grid;
    place-items: center;
    height: 120vh;
}

.container {
    height: auto;
    width: auto;
}

#start {
    height: 70px;
    width: 300px;
    text-align: center;
    padding: 15px 0;
    font-size: 20px;
    font-size: 700;
    cursor: pointer;
}